<mat-card class="card" *ngIf="ricerca">
  <mat-card-title style="text-align: center;">
{{NomeNegozio[0]}}
  </mat-card-title>
  <mat-card-content>
    <br>
    <google-chart *ngIf="graficoora"
    [title]="title"
    [type]="type"
    [data]="data"
    [columns]="columns"
    [options]="options"
    [width]="chartWidth"
    [height]="chartHeight">
  </google-chart>
  </mat-card-content>
  <mat-card-content *ngIf="graincasso">
    <google-chart *ngIf="graincasso"
    [title]="title1"
    [type]="type1"
    [data]="data1"
    [columns]="columns1"
    [options]="options1"
    [width]="chartWidth"
    [height]="chartHeight">
    </google-chart>
  </mat-card-content>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-card-content>
  <mat-card-content>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Articolo">Content 1</mat-tab>
      <mat-tab label="Incasso">Content 2</mat-tab>
      <mat-tab label="Magazzino In - Out">Content 3</mat-tab>
    </mat-tab-group>
  </mat-card-content>
  </mat-card>


