<mat-card class="card">
  <mat-card-title>
      <button mat-icon-button>
        <mat-form-field appearance="fill">
          <mat-label>Negozio</mat-label>
          <mat-select [(value)]="negozio" (click)="resetList()">
            <mat-option #negozio *ngFor="let x of store" value="{{x.serie}}">{{x.nome}}</mat-option>
          </mat-select>
        </mat-form-field>
      </button>
  </mat-card-title>
  <mat-card-content>
    <div *ngIf="show()" style="margin-top: 30px;">

      Area BarGraphic

    <mat-accordion>
      <mat-expansion-panel (click)="Orario()" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Andamento Orario
          </mat-panel-title>
        </mat-expansion-panel-header>
        <!--Tabella incasso orario-->
        <table mat-table [dataSource]="iorario">
          <ng-container matColumnDef="Giorno">
            <th mat-header-cell *matHeaderCellDef> Data\Ora </th>
            <td mat-cell *matCellDef="let riga"> {{riga.Giorno.date | date: 'dd-MM-yyyy'}} </td>
          </ng-container>
          <ng-container matColumnDef="h9">
            <th mat-header-cell *matHeaderCellDef> 9 </th>
            <td mat-cell *matCellDef="let riga"> {{riga.h9}} </td>
          </ng-container>
          <ng-container matColumnDef="h10">
            <th mat-header-cell *matHeaderCellDef> 10 </th>
            <td mat-cell *matCellDef="let riga"> {{riga.h10}} </td>
          </ng-container>
          <ng-container matColumnDef="h11">
            <th mat-header-cell *matHeaderCellDef> 11 </th>
            <td mat-cell *matCellDef="let riga"> {{riga.h11}} </td>
          </ng-container>
          <ng-container matColumnDef="h12">
            <th mat-header-cell *matHeaderCellDef> 12 </th>
            <td mat-cell *matCellDef="let riga"> {{riga.h12}} </td>
          </ng-container>
          <ng-container matColumnDef="h13">
            <th mat-header-cell *matHeaderCellDef> 13 </th>
            <td mat-cell *matCellDef="let riga"> {{riga.h13}} </td>
          </ng-container>
          <ng-container matColumnDef="h14">
            <th mat-header-cell *matHeaderCellDef> 14 </th>
            <td mat-cell *matCellDef="let riga"> {{riga.h14}} </td>
          </ng-container>
          <ng-container matColumnDef="h15">
            <th mat-header-cell *matHeaderCellDef> 15 </th>
            <td mat-cell *matCellDef="let riga"> {{riga.h15}} </td>
          </ng-container>
          <ng-container matColumnDef="h16">
            <th mat-header-cell *matHeaderCellDef> 16 </th>
            <td mat-cell *matCellDef="let riga"> {{riga.h16}} </td>
          </ng-container>
          <ng-container matColumnDef="h17">
            <th mat-header-cell *matHeaderCellDef> 17 </th>
            <td mat-cell *matCellDef="let riga"> {{riga.h17}} </td>
          </ng-container>
          <ng-container matColumnDef="h18">
            <th mat-header-cell *matHeaderCellDef> 18 </th>
            <td mat-cell *matCellDef="let riga"> {{riga.h18}} </td>
          </ng-container>
          <ng-container matColumnDef="h19">
            <th mat-header-cell *matHeaderCellDef> 19 </th>
            <td mat-cell *matCellDef="let riga"> {{riga.h19}} </td>
          </ng-container>
          <ng-container matColumnDef="h20">
            <th mat-header-cell *matHeaderCellDef> 20 </th>
            <td mat-cell *matCellDef="let riga"> {{riga.h20}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="h1"></tr>
          <tr mat-row *matRowDef="let myRowData; columns: h1"></tr>
        </table>
      </mat-expansion-panel>
      <mat-expansion-panel (click)="Categoria()" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Vendita per Categoria (Anno)
          </mat-panel-title>
        </mat-expansion-panel-header>
            <table mat-table [dataSource]="cat">
              <ng-container matColumnDef="cat">
                <th mat-header-cell *matHeaderCellDef> Categoria </th>
                <td mat-cell *matCellDef="let riga"> {{riga.cat}} </td>
              </ng-container>
              <ng-container matColumnDef="Venduto">
                <th mat-header-cell *matHeaderCellDef> Venduto </th>
                <td mat-cell *matCellDef="let riga"> {{riga.Venduto}} </td>
              </ng-container>
              <ng-container matColumnDef="Consegnato">
                <th mat-header-cell *matHeaderCellDef> Consegnato </th>
                <td mat-cell *matCellDef="let riga"> {{riga.Consegnato}} </td>
              </ng-container>
              <ng-container matColumnDef="perc">
                <th mat-header-cell *matHeaderCellDef> % </th>
                <td mat-cell *matCellDef="let riga"> {{(riga.Venduto/riga.Consegnato)*100 | number: '.2-2'}} % </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="h2"></tr>
          <tr mat-row *matRowDef="let myRowData; columns: h2"></tr>
        </table>
      </mat-expansion-panel>
      <mat-expansion-panel (click)="Articolo()" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Vendita per Articolo (Mese)
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="items">
          <ng-container matColumnDef="cart">
            <th mat-header-cell *matHeaderCellDef> Cod. Art </th>
            <td mat-cell *matCellDef="let riga"> {{riga.cart}} </td>
          </ng-container>
          <ng-container matColumnDef="dart">
            <th mat-header-cell *matHeaderCellDef> Desc. Art </th>
            <td mat-cell *matCellDef="let riga"> {{riga.dart}} </td>
          </ng-container>
          <ng-container matColumnDef="Venduto">
            <th mat-header-cell *matHeaderCellDef> Venduto </th>
            <td mat-cell *matCellDef="let riga"> {{riga.Venduto}} </td>
          </ng-container>
          <ng-container matColumnDef="Consegnato">
            <th mat-header-cell *matHeaderCellDef> Consegnato </th>
            <td mat-cell *matCellDef="let riga"> {{riga.Consegnato}} </td>
          </ng-container>
          <ng-container matColumnDef="perc">
            <th mat-header-cell *matHeaderCellDef> % </th>
            <td mat-cell *matCellDef="let riga"> {{(riga.Venduto/riga.Consegnato)*100 | number: '.2-2'}} % </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="h3"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: h3"></tr>
    </table>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Ricerca Per Data
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Tabella Venduto per data</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  </mat-card-content>
</mat-card>
