
<mat-form-field appearance="fill">
  <mat-label>Inserimento Date</mat-label>
  <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
    <input matStartDate formControlName="start" placeholder="Inizio">
    <input matEndDate formControlName="end" placeholder="Fine">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <button mat-icon-button (click)="rdate()"><mat-icon>search</mat-icon></button>
  <mat-progress-bar *ngIf="bar" mode="indeterminate"></mat-progress-bar>
  <div id="flex">
    <div id="button" *ngIf="showgr">
      <button (click)="cambioDati()" mat-button>{{tasto}}</button>
    </div>
  </div>
  <div id="flex">
    <div id="a" *ngIf="showgr">

      <google-chart
      [title]="title"
      [type]="type"
      [data]="data"
      [columns]="columns"
      [options]="options"
      [width]="chartWidth"
      [height]="chartHeight"
      [dynamicResize]="true">
    </google-chart>
    </div>
  </div>
  <div id="flex" *ngIf="showgr2">
    <mat-progress-bar *ngIf="!showgr2" mode="indeterminate"></mat-progress-bar>

    <div id="a" *ngIf="showgr2">
      <google-chart
      [title]="title2"
      [type]="type2"
      [data]="data2"
      [columns]="columns2"
      [options]="options2"
      [width]="chartWidth"
      [height]="chartHeight2">
    </google-chart>
    </div>
  </div>
  <div id="flex" *ngIf="showgr">
    <div id="c">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Negozio">
          <mat-card>
            <mat-card-title>Incassi per Negozio</mat-card-title>
            <mat-card-subtitle>Date Interessate: {{data1}} fino {{data22}}</mat-card-subtitle>
            <mat-card-content>
              <table mat-table [dataSource]="incasso">
                <ng-container matColumnDef="Negozio">
                  <th mat-header-cell *matHeaderCellDef> Negozio </th>
                  <td mat-cell *matCellDef="let riga"> {{riga.Negozio}} </td>
                </ng-container>
                <ng-container matColumnDef="Oggi">
                  <th  mat-header-cell *matHeaderCellDef> Incasso</th>
                  <td  mat-cell *matCellDef="let riga">
                    <button mat-button >{{riga.Oggi| currency:'EUR'}}</button>  </td>
                </ng-container>
                <ng-container matColumnDef="Pezzi">
                  <th  mat-header-cell *matHeaderCellDef> Pz</th>
                  <td  mat-cell *matCellDef="let riga"> {{riga.Pezzi}} </td>
                </ng-container>
                <ng-container matColumnDef="Scontrini">
                  <th  mat-header-cell *matHeaderCellDef> N.S</th>
                  <td  mat-cell *matCellDef="let riga"> {{riga.Scontrini}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="h1"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: h1"></tr>
              </table>
            </mat-card-content>
          </mat-card>
        </mat-tab>
        <mat-tab label="Fascia Oraria">
          <mat-card>
            <mat-card-title>Media Fascia Oraria</mat-card-title>
            <mat-card-subtitle>Date Interessate: {{data1}} fino {{data22}}</mat-card-subtitle>
            <mat-card-content>
              <table mat-table [dataSource]="orario">
                <ng-container matColumnDef="ora">
                  <th mat-header-cell *matHeaderCellDef> Ora </th>
                  <td mat-cell *matCellDef="let riga"> {{riga.ora}} </td>
                </ng-container>
                <ng-container matColumnDef="Totale">
                  <th  mat-header-cell *matHeaderCellDef> Incasso</th>
                  <td  mat-cell *matCellDef="let riga">
                    <button mat-button >{{riga.Totale| currency:'EUR'}}</button>  </td>
                </ng-container>
                <ng-container matColumnDef="Pezzi">
                  <th  mat-header-cell *matHeaderCellDef> Pz</th>
                  <td  mat-cell *matCellDef="let riga"> {{riga.Pezzi}} </td>
                </ng-container>
                <ng-container matColumnDef="Scontrini">
                  <th  mat-header-cell *matHeaderCellDef> N.S</th>
                  <td  mat-cell *matCellDef="let riga"> {{riga.Scontrini}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="h2"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: h2"></tr>
              </table>
            </mat-card-content>
          </mat-card>
        </mat-tab>
        <mat-tab label="Categoria">
          <mat-card>
            <mat-card-title>Vendita Per Categoria</mat-card-title>
            <mat-card-subtitle>Date Interessate: {{data1}} fino {{data22}}</mat-card-subtitle>
            <mat-card-content>
              <mat-progress-bar *ngIf="!showcat" mode="indeterminate"></mat-progress-bar>
            <table mat-table *ngIf="showcat" [dataSource]="categoriaricerca" matSort>
                <ng-container matColumnDef="Categoria">
                  <th mat-header-cell *matHeaderCellDef> Categoria </th>
                  <td mat-cell *matCellDef="let riga"> {{riga.Categoria}} </td>
                </ng-container>
                <ng-container matColumnDef="qta">
                  <th  mat-header-cell  *matHeaderCellDef mat-sort-header > Q.ta</th>
                  <td  mat-cell *matCellDef="let riga">{{riga.qta}}  </td>
                </ng-container>
                <ng-container matColumnDef="qtaperc">
                  <th  mat-header-cell *matHeaderCellDef > Q.ta (%)</th>
                  <td  mat-cell *matCellDef="let riga">{{(riga.qta*100)/(perccatq) | number:'1.1-2'}}  </td>
                </ng-container>
                <ng-container matColumnDef="t">
                  <th  mat-header-cell *matHeaderCellDef mat-sort-header> Valore</th>
                  <td  mat-cell *matCellDef="let riga"> {{riga.t | currency:'EUR'}} </td>
                </ng-container>
                <ng-container matColumnDef="tperc">
                  <th  mat-header-cell *matHeaderCellDef  > Valore (%)</th>
                  <td  mat-cell *matCellDef="let riga"> {{(riga.t*100)/(perccatt)| number:'1.1-2'}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="cathead"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: cathead"></tr>
              </table>
            </mat-card-content>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>



