@media screen and (min-width: 751px) {
mat-card{
  margin-top: 3%;
  width: 46%;
  align-content: center;
  margin-left: 1%;
  float:left;
  display:block
}
mat-card-title{
text-align: left;
}
mat-card-subtitle{
  text-align: left;
}
table{
  width: 100%;
}
td{
  text-align: left;
  font-size: 80%;
}
td.inc{
  text-align: center;
  font-size: 80%;
}
th{
  font-size: 90%;
}
th.inc{
  text-align: center;
  font-size: 90%;
}
mat-card.due{
  margin-top: 3%;
  width: 95%;
  align-content: center;
  margin-left: 1%;
  float:left;
  display:block
}
.int{
  text-align: center;
  color: silver;
  font-size: small;
}
button{
  width: 25%;
  align-items: center;
  margin-right: 2%;
}
.card2{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  float: left;
  width: 22%;
  margin-top: 2%;
  align-content: center;
  margin-left: 8%;
}

.cnt{
  text-align: center;
  color: green;
  font-size: medium;

}
}
@media screen and (max-width: 751px) {
  mat-card{
    width: 99%;
    align-content: center;
    float:left;
    display:block
  }
  table{
    width: 100%;
  }
  .int{
    text-align: center;
    color: silver;
    font-size: small;
  }
  td.inc{
    text-align: center;
    font-size: 80%;
  }
  td{
    text-align: center;
    font-size: 80%;
  }
  th{
    text-align: center;
    font-size: 80%;
  }
  th.inc{
    text-align: center;
    font-size: 90%;
  }
}
