mat-card{
  margin-top: 3%;
  width: 46%;
  align-content: center;
  margin-left: 1%;
  float:left; 
  display:block
}
mat-card-title{
text-align: left;
}
mat-card-subtitle{
  text-align: left;
}
table{
  width: 100%;
}
td{
  text-align: left;
  font-size: 80%;
}
td.inc{
  text-align: center;
  font-size: 80%;
}
th{
  font-size: 90%;
}
th.inc{
  text-align: center;
  font-size: 90%;
}
mat-card.due{
  margin-top: 3%;
  width: 95%;
  align-content: center;
  margin-left: 1%;
  float:left; 
  display:block
}
