mat-card{
  margin-top: 3%;
  width: 46%;
  align-content: center;
  margin-left: 1%;
  float:left;
  display:block
}
.mdue{
  width: 29.7%;
  align-content: center;
  margin-left: 1%;
  float:left;
}
mat-card-title{
text-align: left;
}
mat-card-subtitle{
  text-align: left;
}
table{
  width: 100%;
}
td{
  text-align: left;
  font-size: 80%;
}
td.inc{
  text-align: center;
  font-size: 80%;
}
th{
  font-size: 90%;
}
th.inc{
  text-align: center;
  font-size: 90%;
}
mat-card.due{
  margin-top: 3%;
  width: 95%;
  align-content: center;
  margin-left: 1%;
  float:left;
  display:block
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
  display: block;
  padding: 2px 16px;
  float: left;
  align-content: center;
  width: 80%;

}
.int{
  text-align: center;
  color: silver;
  font-size: x-small;
}
button{
  width: 25%;
  align-items: center;
  margin-right: 2%;
}
