<mat-card class="card">
  <mat-card-title>Incassi</mat-card-title>
  <mat-card-subtitle>Report Negozi</mat-card-subtitle>
<!-- Report Categoria per Settimana -->
  <mat-card-content>
    <table mat-table [dataSource]="incasso">
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Negozio </th>
        <td mat-cell *matCellDef="let riga"> {{riga.nome}} </td>
      </ng-container>

      <ng-container matColumnDef="valore">
        <th class="inc" mat-header-cell *matHeaderCellDef> Incasso</th>
        <td class="inc" mat-cell *matCellDef="let riga">
         <button mat-button> {{riga.valore | currency:'EUR'}}</button> </td>
      </ng-container>

      <ng-container matColumnDef="pezzi">
        <th class="inc" mat-header-cell *matHeaderCellDef> Pezzi</th>
        <td class="inc" mat-cell *matCellDef="let riga"> {{riga.pezzi}} </td>
      </ng-container>

      <ng-container matColumnDef="Scontrini">
        <th class="inc" mat-header-cell *matHeaderCellDef> N. Scontrini</th>
        <td class="inc" mat-cell *matCellDef="let riga"> {{riga.Scontrini}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="h1"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: h1"></tr>
    </table>
    </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Articolo</mat-card-title>
  <mat-card-subtitle>Report Negozi</mat-card-subtitle>
  <!-- Report Articolo settimana -->
<mat-card-content>
  <table mat-table [dataSource]="articoli">

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> codiceArticolo </th>
      <td mat-cell *matCellDef="let riga"> {{riga.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="descrizione">
      <th class="inc" mat-header-cell *matHeaderCellDef> Descrizione</th>
      <td class="inc" mat-cell *matCellDef="let riga">{{riga.descrizione}} </td>
    </ng-container>

    <ng-container matColumnDef="pezzi">
      <th class="inc" mat-header-cell *matHeaderCellDef> Q.ta</th>
      <td class="inc" mat-cell *matCellDef="let riga">
        <button mat-button>{{riga.pezzi}}</button> </td>
    </ng-container>

    <ng-container matColumnDef="valore">
      <th class="inc" mat-header-cell *matHeaderCellDef> Valore</th>
      <td class="inc" mat-cell *matCellDef="let riga"> {{riga.valore| currency:'EUR'}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="h2"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: h2"></tr>
   </table>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Categoria</mat-card-title>
  <mat-card-subtitle>Report Negozi</mat-card-subtitle>
<!-- Report Categoria per Settimana -->
<mat-card-content>
  <table mat-table [dataSource]="categoria">

    <ng-container matColumnDef="cat">
      <th mat-header-cell *matHeaderCellDef> Categoria </th>
      <td mat-cell *matCellDef="let riga"> {{riga.cat}} </td>
    </ng-container>

    <ng-container matColumnDef="valore">
      <th class="inc" mat-header-cell *matHeaderCellDef> Valore</th>
      <td class="inc" mat-cell *matCellDef="let riga"> {{riga.valore| currency:'EUR'}}</td>
    </ng-container>

    <ng-container matColumnDef="pezzi">
      <th class="inc" mat-header-cell *matHeaderCellDef> Q.ta</th>
      <td class="inc" mat-cell *matCellDef="let riga">
        <button mat-button>{{riga.pezzi}}</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="h3"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: h3"></tr>
   </table>
  </mat-card-content>
</mat-card>


