<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list>
        <mat-list-item mat-button routerLink="/home" routerLinkActive="active">Home</mat-list-item>
        <mat-list-item routerLink="/store" routerLinkActive="active">Negozi</mat-list-item>
        <mat-list-item routerLink="/vendite" routerLinkActive="active"> Vendite Articolo</mat-list-item>
        <mat-list-item routerLink="/categoria" routerLinkActive="active">Vendite Categoria</mat-list-item>
        <mat-list-item routerLink="/sritemss" routerLinkActive="active">Ricerca Articoli</mat-list-item>
        <mat-list-item>Incasso</mat-list-item>
        <mat-list-item>Saldi</mat-list-item>
        <mat-list-item>Nuovo Articolo</mat-list-item>
      </mat-list>
  </mat-drawer>
  <div>
  <div class="nav">
      <mat-icon mat-button (click)="drawer.toggle()">menu</mat-icon>
    <mat-icon routerLink="/home" routerLinkActive="active">home</mat-icon>
    <mat-icon>ios_share</mat-icon>
</div>
  <div class="rotta">
    <router-outlet></router-outlet>
  </div>
  </div>
</mat-drawer-container>



