.example-container {
  width: 100%;
  height: 100%;
}
.example-sidenav-content {
  width: 100%;
  height: 2%;
  margin-top: 0%;
}
.example-sidenav {
  width: 25%;
}
mat-icon{
  margin-left: 2%;
  margin-top: 2%;
}
.destra{
  margin-left: 90%;
}
.nav{
  border: 3px black;
}
.rotta{
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 5%;
  vertical-align: center;
  align-content: center;
  position: absolute;
  z-index:1;
}
.rottapc{
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 15%;
  vertical-align: center;
  align-content: center;
  position: absolute;
  z-index:1;
}
