p{
  text-align: center;
  font-size: large;
}
.conteiner{
  width: 98%;
  align-items: center;
  border:3px solid green;
}
.space-foto{
  width: 50%;
  float: left;

}
.space-data{
  width: 50%;
  float: left;

}
.det{
  width: 60%;
  float: right;
}
table{
  width: 100%;
}
.detphoto{
  width: 35%;
  float: right;
  align-content: center;
}
img{
  border-radius: 10%;
  object-fit: cover;
  margin-right: 3%;
}
