<mat-card>
<mat-card-title>Ricerca Vendite</mat-card-title>
<mat-card-subtitle>Ricerca Per Articolo</mat-card-subtitle>
<mat-card-content>
  <div *ngIf="show">
  <mat-form-field appearance="fill">
    <mat-label>Inserimento Date</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Inizio">
      <input matEndDate formControlName="end" placeholder="Fine">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <button mat-button (click)="rcdata()" ><mat-icon>search</mat-icon></button>
  </div>
    <div>
      <mat-spinner *ngIf="spinner"></mat-spinner>
      <mat-form-field *ngIf="show2" class="formfild" style="margin-right:28%;">
        <mat-label>Categoria OR Cod.Art</mat-label>
        <input matInput (keyup)="applyFilterCat($event)" placeholder="Ricerca" #input>
      </mat-form-field>
      <mat-paginator *ngIf="show2" [pageSizeOptions]="[50, 100, 150, 200]" aria-label="Articolo per Pagina"></mat-paginator>
  <table *ngIf="show2" mat-table [dataSource]="vendite" matSort>
    <ng-container matColumnDef="a">
      <th class="row" mat-header-cell *matHeaderCellDef> Categoria </th>
      <td class="row" mat-cell *matCellDef="let riga"> {{riga.a}} </td>
    </ng-container>
    <ng-container matColumnDef="cat1">
      <th class="row" mat-header-cell *matHeaderCellDef> Sotto Categoria </th>
      <td class="row" mat-cell *matCellDef="let riga"> {{riga.cat1}} </td>
    </ng-container>
    <ng-container matColumnDef="b">
      <th class="row" mat-header-cell *matHeaderCellDef> Codice </th>
      <td class="row" mat-cell *matCellDef="let riga" #codart> {{riga.b}} </td>
    </ng-container>
    <ng-container matColumnDef="c">
      <th style="text-align: center;width: 5%;"mat-header-cell *matHeaderCellDef mat-sort-header> In </th>
      <td style="text-align: center;width: 5%;" mat-cell *matCellDef="let riga">
        <button mat-button (click)="openDialog(riga.b, 2)">
          {{riga.c}}
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="d">
      <th style="text-align: center;" mat-header-cell *matHeaderCellDef mat-sort-header> Out </th>
      <td style="text-align: center;" *matCellDef="let riga">
        <button mat-button (click)="openDialog(riga.b, 3)">
        {{riga.d}}
      </button></td>
    </ng-container>
    <ng-container matColumnDef="perc">
      <th style="text-align: center;" mat-header-cell *matHeaderCellDef mat-sort-header> % </th>
      <td style="text-align: center;" *matCellDef="let riga">
        {{(100*riga.d)/riga.c | number:'1.2-2'}} %
    </ng-container>
    <ng-container matColumnDef="par">
      <th style="text-align: center;width:5%;" mat-header-cell *matHeaderCellDef > info </th>
      <td style="text-align: center;width:5%;" mat-cell  *matCellDef="let riga">
        <button mat-button (click)="openDialog(riga.b, 1)">
            <mat-icon>more_vert</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="header"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: header"></tr>
  </table>

</div>
</mat-card-content>
</mat-card>
