<mat-tab-group *ngIf="show"  mat-align-tabs="center">
  Colore
  <mat-tab *ngFor="let x of listcolor"  label={{x.colore}}>
    <mat-tab-group mat-align-tabs="center">
      Taglia
      <mat-tab *ngFor="let y of listtaglia"  label={{y.Taglia}}>
        <div>
            <div class="tbl">
              <tr>
                <td>
                  Negozio
                </td>
                <td>
                  Taglia
                </td>
                <td>
                  Colore
                </td>
                <td>
                  Consegnato
                </td>
              </tr>
              <div  *ngFor="let l of lista" >
                <tr *ngIf="ctrtagliacolore(l.colore, l.taglia, x.colore, y.Taglia)">
                  <td>
                    {{l.iDNegozio}}
                  </td>
                  <td>
                    {{l.taglia}}
                  </td>
                  <td>
                    {{l.colore}}
                  </td>
                  <td>
                    {{l.Consegnato}}
                  </td>
                </tr>
              </div>

            </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
</mat-tab-group>
