<mat-tab-group *ngIf="show"  mat-align-tabs="center">
  Colore
  <mat-tab *ngFor="let x of listcolor"  label={{x.colore}}>
    <mat-tab-group mat-align-tabs="center">
      Taglia
      <mat-tab *ngFor="let y of listtaglia"  label={{y.Taglia}}>
        <div>
            <table>
              <tr>
                <th>Negozio</th>
                <th>Taglia</th>
                <th>Colore</th>
                <th>Consegnato</th>
                <th>Inviato</th>
                <th>Venduto</th>
                <th>Reso</th>
                <th>Giacenza</th>
                <th>Giorni</th>
              </tr>
             <ng-container *ngFor="let l of lista">
                <tr  *ngIf="ctrtagliacolore(l.colore, l.taglia, x.colore, y.Taglia)">
                  <td>
                    {{l.iDNegozio}}
                  </td>
                  <td style="text-align: center;">
                    {{l.taglia}}
                  </td>
                  <td style="text-align: center;">
                    {{l.colore}}
                  </td>
                  <td style="text-align: center;">
                    {{l.Consegato}}
                  </td>
                  <td style="text-align: center;">
                    {{l.Inviato}}
                  </td>
                  <td style="text-align: center;">
                    {{l.Vendita}}
                  </td>
                  <td style="text-align: center;">
                    {{l.Reso}}
                  </td>
                  <td style="text-align: center;">
                    {{(l.Consegato-l.Inviato)-(l.Vendita-l.Reso)}}
                  </td>
                  <td style="text-align: center;color: red;" >
                    {{((l.Consegato-l.Inviato)-(l.Vendita-l.Reso))/(l.Vendita/giornic[0].gg)}}
                  </td>
                </tr>
              </ng-container>
            </table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
</mat-tab-group>
